---
layout: default
---

<h2 class="section-title">Kategorije</h2>

<div class="category-grid">
    <div class="category-card">
        <a href="{{ site.baseurl }}/kategorija-eseji">Eseji / Studije</a>
    </div>
    <div class="category-card">
        <a href="{{ site.baseurl }}/kategorija-kritika">Kritika / Osvrti</a>
    </div>
    <div class="category-card">
        <a href="{{ site.baseurl }}/kategorija-proza">Proza</a>
    </div>
    <div class="category-card">
        <a href="{{ site.baseurl }}/kategorija-poezija">Poezija</a>
    </div>
</div>

<h2 class="section-title">Tekstovi u kategoriji: {{ page.title }}</h2> 

<ul class="text-list" style="margin-top: 50px;">
    {% for post in site.categories[page.category_name] %}
    <li style="border-bottom: 1px solid var(--light-border-color);">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <p class="text-meta">
            Objavljeno: {{ post.date | date: "%d. %B %Y." }}
        </p>
    </li>
    {% endfor %}
</ul>

{% if site.categories[page.category_name].size == 0 %}
    <p style="text-align: center; margin-top: 50px; color: var(--muted-text);">Trenutno nema objavljenih tekstova u ovoj kategoriji.</p>
{% endif %}
