---
layout: page
title: Pravila Korištenja i Autorska Prava
permalink: /pravila
---

<h3>Autorska Prava i Vlasništvo</h3>
<p>Sav tekstualni i vizuelni sadržaj objavljen na ovoj web stranici ("Sadržaj"), uključujući eseje, prozu, poeziju i kritiku, isključivo je vlasništvo Omara Brkana, osim ako nije drugačije naznačeno.</p>

<h3>Dozvoljeno Korišćenje</h3>
<p>Sadržaj ove stranice je namenjen za lično čitanje i nekomercijalnu edukaciju. Dozvoljeno je dijeljenje  pod uslovom da se jasno i vidljivo navede autor (Omar Brkan) i izvor (link ka originalnom tekstu).</p>

<h3>Zabranjeno Korištenje</h3>
<ul>
    <li>Komercijalna upotreba, distribucija, reprodukcija ili izmjena Sadržaja bez izričite pismene saglasnosti autora je strogo zabranjena.</li>
    <li>Kopiranje cijelih tekstova ili velikih delova teksta na druge web stranice, blogove ili štampane medije bez dozvole.</li>
</ul>

<h3>Poveznice na Druge Stranice</h3>
<p>Ova stranica može sadržavati poveznice na web stranice trećih strana. Autor nije odgovoran za sadržaj tih stranica ili njihovu politiku privatnosti.</p>

<h3 style="margin-top: 40px;">Navođenje Izvora</h3>
<p>Prilikom citiranja bilo kojeg Sadržaja, molimo koristite sljedeći format:</p>
<blockquote style="border-left: 3px solid var(--accent-color); padding-left: 15px; margin-left: 0; font-style: italic;">
    [Kratki citat teksta]. Autor: Omar Brkan. Izvor: [Pun link do teksta].
</blockquote>
